.carousel {
    margin-top: 10px;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

	.carousel h2 {
		margin: 0 0 20px;
	}

	.carousel a {
		color: #333;
		text-decoration: none;
	}

	
	/*--unit--*/
	.unit .carousel-listWrapper {
		width: 300px;
		overflow: hidden;
	}
	
	/*--vertical--*/
	.vertical .carousel-listWrapper {
		margin: 0 0 20px;
		height: 100px;
		overflow: hidden;
	}
	
	.ui-carousel-list {
		margin-bottom: 20px;
		position: relative;
	}

	.ui-carousel-list:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}

	/*--fade--*/
	#fade .ui-carousel-list {
		width: 100px;
		height: 100px;
	}
		
		.ui-carousel-item {
			float: left;
			display: inline;
			margin: 5px;
			padding: 10px 0px 0px 0px;
			width: 250px;
			height: 250px;
			background-color: transparent;
			text-align: center;
            vertical-align: middle;
		}

		.ui-carousel-item.ui-carousel-current {
			background-color: transparent!important;
		}

		/*--vertical--*/
		.vertical .ui-carousel-item {
			float: none;
			display: block;
		}

		/*--fade--*/
		#fade .ui-carousel-item {
			position: absolute;
			top: 0px;
			left: 0px;
		}

		/*--tab--*/
		.tab .ui-carousel-item {
			padding: 10px;
			width: 190px;
			height: auto;
			background-color: #B7D264 !important;
			text-align: left;
		}
		
	.carousel-button {
		margin-left: -10px;
	}
	.carousel-button:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}
		/*--vertical--*/
		/*.vertical .carousel-prev,*/
		/*.vertical .carousel-next {*/
			/*display: block;*/
			/*float: none;*/
			/*margin-bottom: 10px;*/
		/*}*/
		.ui-carousel-prev,
		.ui-carousel-next {
			display: inline;
			float: left;
			margin-left: 10px;
			width: 100px;
		}
			.ui-carousel-prev a,
			.ui-carousel-next a {
				display: block;
				padding: 20px;
				background-color: #B7D264;
				border-radius: 5px;
			}
            .ui-carousel-prev.ui-carousel-disable a,
            .ui-carousel-next.ui-carousel-disable a {
                opacity: 0.5;
                cursor: default;
                text-decoration: none;

            }
			
		.ui-carousel-prev {
		}
			.carousel-prev a {
			}
		
		.ui-carousel-next {
		}
			.carousel-next a {
			}
			
	.ui-carousel-pagination {
	}
		.ui-carousel-paginationList {
			margin-left: -10px;
		}

		/*--tab--*/
		.tab .ui-carousel-paginationList {
			margin-bottom: 0;
		}
		.ui-carousel-paginationList:after {
			content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
		}
			.ui-carousel-paginationItem {
				float: left;
				display: inline;
				margin-left: 10px;
			}
				.ui-carousel-paginationItem a {
					display: block;
					padding: 13px 0;
					width: 45px;
					background-color: #B7D264;
					text-align: center;
				}

	.ui-carousel-setNum {
	}
		.ui-carousel-setNum a {
			display: block;
			width: 100%;
			padding: 13px 0;
			background-color: #B7D264;
			text-align: center;
		}
